USE [Hotstar_sql_project]
GO
/****** Object:  View [dbo].[vw_Admin]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_Admin]
AS
SELECT * FROM tblUsers WHERE EmailId like '%@hotstar.com'
GO
