USE [Hotstar_sql_project]
GO
/****** Object:  View [dbo].[vw_ViewInvoices]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   VIEW [dbo].[vw_ViewInvoices]
 AS
 SELECT I.InvoiceId AS InvoiceID,
 I.UserId,
 S.Subscription_Type,
 I.Date AS InvoiceDate,
 I.Time AS InvoiceTime,
 S.Price AS Price,
 I.Tax  ,
 I.TotalCost AS TotalCost
 FROM tblInvoices I
 join tblSubscriptions S
 ON I.SubcriptionID=S.Subscription_Id
GO
