USE [Hotstar_sql_project]
GO
/****** Object:  View [dbo].[vw_users]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_users]
as
SELECT * FROM tblUsers WHERE EmailId like '%@gmail.com'
GO
