USE [Hotstar_sql_project]
GO
/****** Object:  UserDefinedTableType [dbo].[BulkInsertTVP]    Script Date: 07-09-2026 22:54:49 ******/
CREATE TYPE [dbo].[BulkInsertTVP] AS TABLE(
	[Teams] [varchar](20) NULL,
	[MatchType] [varchar](20) NULL,
	[Venu] [varchar](50) NULL,
	[MatchDate] [date] NULL,
	[MatchTime] [time](0) NULL,
	[BroadcastMode] [varchar](20) NULL
)
GO
