USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_AdminLogin]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_AdminLogin]
    @Email VARCHAR(30),
    @Password VARCHAR(20)
AS
BEGIN
    DECLARE @Name VARCHAR(20),
            @UserId INT

    SET @UserId =
    (
        SELECT UserId FROM vw_Admin WHERE EmailId = @Email
    )


    IF @Email IS NULL
    BEGIN
        SELECT ('EMAIL ID IS NULL') AS RESULT
        RETURN
    END

    IF @Password IS NULL
    BEGIN
        SELECT ('PASSWORD ID IS NULL') AS RESULT
        RETURN
    END

    IF NOT @Email LIKE '%@hotstar.com%'
    BEGIN
        SELECT ('INVALID EMAIL ID') AS RESULT
        RETURN
    END

    SET @Name =
    (
        SELECT UserName FROM tblUsers WHERE UserId = @UserId
    )


    IF EXISTS
    (
        SELECT 1
        FROM vw_Admin
        WHERE UserId = @UserId
              AND Password = @Password
              AND Is_Active = 1
    )
    BEGIN

        SELECT ('WELCOME ' + UPPER(@Name)) AS RESULT
        SELECT ('YOUR ID: ' + CAST(@UserId AS VARCHAR(10))) AS RESULT
        RETURN


    END
    ELSE IF NOT EXISTS (SELECT 1 FROM vw_Admin WHERE EmailId = @Email)
    BEGIN
        SELECT ('INVALID EMAIL ID ') AS RESULT
        RETURN
    END

    IF NOT EXISTS (SELECT 1 FROM tblUsers WHERE Password = @Password)
    BEGIN
        SELECT ('INCORRECT PASSWORD ') AS RESULT
        RETURN
    END

    IF NOT EXISTS
    (
        SELECT 1
        FROM tblUsers
        WHERE Password = @Password
              and Is_Active = 0
    )
    BEGIN
        SELECT ('ADMIN NOT FOUND') AS RESULT
        RETURN
    END





END
GO
