USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_watchHistory]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_watchHistory] 
@userId INT
AS
BEGIN

	

	IF @userId IS NULL
	BEGIN 
	SELECT('USER ID IS NULL') AS RESULT RETURN
	END

	IF NOT EXISTS(SELECT 1 FROM vw_users WHERE UserId=@userId)
	BEGIN
		SELECT('USER ID NOT FOUND') AS RESULT RETURN
	END

	IF NOT EXISTS(SELECT 1 FROM tblWatchHistory WHERE UserId=@userId)
	BEGIN
		SELECT('NO WATCH HISTORY') AS RESULT RETURN
	END



	SELECT
	h.HistoryId,
	m.Teams,
	h.Date,
	h.StartTime,
	h.EndTime
	FROM tblWatchHistory h
	join tblMatch m
	ON h.MatchId=m.MatchId
	WHERE h.UserId=@userId AND Dispaly=1

END
GO
