USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_searchAndFilter]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_searchAndFilter]
	@TeamName VARCHAR(20)=NULL,
	@Venu VARCHAR(20)=NULL,
	@Date VARCHAR(20)=NULL,
	@MatchType VARCHAR(20)=NULL,
	@Rating VARCHAR(20)=NULL
AS
BEGIN

	IF EXISTS(SELECT 1
	FROM tblMatch
	where (@TeamName IS NULL OR Teams like '%'+ @TeamName + '%') AND
	(@Venu IS NULL OR Venu like '%' +@Venu+ '%') AND
	(@Date IS NULL OR MatchDate=@Date) AND
	(@MatchType IS NULL OR MatchType like '%' +@MatchType+ '%')
	--AND(@Rating IS NULL OR Rating=@Rating) 
	)
	BEGIN
			SELECT 
			MatchId,
			Teams,
			MatchType,
			MatchDate,
			MatchStartDate as MatchTime,
			Venu,
			BroadcastMode as Stream
			FROM tblMatch
			where (@TeamName IS NULL OR Teams like '%'+ @TeamName + '%') AND
			(@Venu IS NULL OR Venu like '%' +@Venu+ '%') AND
			(@Date IS NULL OR MatchDate=@Date) AND
			(@MatchType IS NULL OR MatchType like '%' +@MatchType+ '%')
			
	END
	ELSE
	 SELECT('NO RESULT') AS RESULT RETURN
END
GO
