USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_Login]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_Login]
@Email VARCHAR(30),
@Password VARCHAR(20),
@DeviceType INT
AS
BEGIN
 
    BEGIN TRY
        
        DECLARE 
			 @Name VARCHAR(50),
            @DeviceLimit INT = 0,
            @DeviceCount INT = 0,
            @UserId INT,
            @SubId INT,
            @TODAY DATE = CAST(GETDATE() AS DATE)

		SET	@UserId= ( SELECT UserId
        FROM vw_users
        WHERE EmailId = @Email)
		SET @Name =(SELECT UserName FROM vw_users   WHERE EmailId = @Email)

        IF @Email IS NULL 
        BEGIN 
		SELECT 'EMAIL ID IS NULL' AS RESULT RETURN 
		END

        IF @Password IS NULL
        BEGIN 
		SELECT 'PASSWORD IS NULL' AS RESULT RETURN 
		END

		  IF @DeviceType IS NULL
        BEGIN 
		SELECT 'DEVICE TYPE IS NULL' AS RESULT RETURN 
		END

		IF  EXISTS(SELECT 1 FROM vw_users WHERE UserId=@UserId AND Is_Active=0)
        BEGIN 
		SELECT 'USER NOT FOUND ' AS RESULT RETURN 
		END

        IF NOT (RIGHT(UPPER(@Email), 10) = '@GMAIL.COM' OR RIGHT(UPPER(@Email), 12) = '@HOTSTAR.COM')
        BEGIN 
		SELECT 'INVALID EMAIL ID' AS RESULT RETURN 
		END

        IF NOT (@DeviceType BETWEEN 1 AND 4)
        BEGIN 
		SELECT 'DEVICE TYPE SHOULD BE BETWEEN 1 AND 4' AS RESULT RETURN 
		END

    

     

        IF NOT EXISTS (
            SELECT 1 FROM vw_users 
            WHERE EmailId = @Email AND Password = @Password AND Is_Active=1
        )
        BEGIN 
		SELECT 'INVALID PASSWORD' AS RESULT RETURN 
		END


     SET @SubId=( SELECT TOP 1 Subscription_Id FROM tblUserSubcriptions WHERE UserId = @UserId AND Is_SubcriptionActive = 1
        ORDER BY [SubcriptionStartDate] DESC)

        IF EXISTS (
            SELECT 1 FROM tblUserSubcriptions
            WHERE UserId = @UserId AND SubcriptionEndDate = @TODAY AND Is_SubcriptionActive =1
	
        )
        BEGIN 
		SELECT 'YOUR SUBSCRIPTION EXPIRED' AS RESULT RETURN 
		END

        IF @SubId IS NULL
        BEGIN
            SET @DeviceLimit = 1;
            SELECT 'YOU DO NOT HAVE ANY ACTIVE SUBSCRIPTION' AS RESULT
        END
        ELSE
        BEGIN
            SELECT @DeviceLimit = MaxDevices
            FROM tblSubscriptions
            WHERE Subscription_Id = @SubId
		END

       SET @DeviceCount =(SELECT COUNT(*)
        FROM tblDeviceLogins
        WHERE UserId = @UserId AND Is_Active = 1)

        IF @DeviceCount >= @DeviceLimit
        BEGIN 
		SELECT 'DEVICE LIMIT REACHED' AS RESULT RETURN 
		END

        INSERT INTO tblDeviceLogins (UserId, EmailId, DeviceType)
        VALUES (@UserId, @Email, @DeviceType);

        SELECT 'WELCOME ' + UPPER(@Name) AS RESULT
        SELECT 'YOUR USER ID: ' + CAST(@UserId AS VARCHAR(10)) AS RESULT RETURN

    END TRY
    BEGIN CATCH
        SELECT ERROR_NUMBER() AS ErrorNumber, 'LOGIN FAILED DUE TO INTERNAL ERROR' AS RESULT
    END CATCH
END
GO
