USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetTotalSubscriptionsByPlan_Sub]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_GetTotalSubscriptionsByPlan_Sub]
AS
BEGIN

	SELECT
    S.Subscription_Type,
    coalesce (COUNT(US.Subscription_Id),0) AS SubscribersCount
	FROM tblUserSubcriptions US
	 JOIN tblSubscriptions S ON US.Subscription_Id = S.Subscription_Id
	WHERE US.Is_SubcriptionActive = 1
	GROUP BY S.Subscription_Id,S.Subscription_Type
	


END
GO
