USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_buySubcription]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_buySubcription] 
@UserId INT,
@Subcription_id INT
as
BEGIN
	BEGIN TRY
		
	    DECLARE @date VARCHAR(30),@expire_date DATE,@TotalCost INT,@Cost INT

		--SET @UserId=(SELECT UserId FROM tblUsers WHERE UserId=@UserId)
		
			IF @UserId IS NULL
			BEGIN
				SELECT ('USER ID IS NULL') AS RESULT RETURN
			END

			IF @Subcription_id IS NULL
			BEGIN
				SELECT ('SUBCRIPTION_ID IS NULL') AS RESULT RETURN
			END

			IF NOT EXISTS (SELECT 1 FROM tblUsers WHERE UserId=@UserId)
			BEGIN
				SELECT ('INVALID USER  ID') AS RESULT RETURN 
			END

			IF NOT EXISTS (SELECT 1 FROM tblSubscriptions WHERE Subscription_Id=@Subcription_id)
			BEGIN
				SELECT('INVALID SUBSCRIPTION_ID') AS RESULT RETURN
			END



	IF NOT EXISTS (SELECT 1 FROM tblUserSubcriptions WHERE UserId=@UserId)
	BEGIN

	--SET @userId=(SELECT UserId FROM tblUsers WHERE UserId=@UserId)
	SET @date=(SELECT DurationInMonths FROM tblSubscriptions WHERE Subscription_Id=@Subcription_id)
	SET @expire_date=DATEADD(MONTH,cast(@date AS INT),CAST(SYSUTCDATETIME() AS DATE))
	SET @Cost=(SELECT Price FROM tblSubscriptions WHERE Subscription_Id=@Subcription_id)
	SET @TotalCost=SUM(@Cost+137)

	BEGIN TRAN

	INSERT INTO tblUserSubcriptions(UserId,Subscription_Id,SubcriptionEndDate)
	VALUES (@userId, @Subcription_id, @expire_date)

	INSERT INTO tblInvoices(UserId,SubcriptionID,Cost,TotalCost)
	VALUES(@userId,@Subcription_id,@Cost,@TotalCost)

	 COMMIT

	SELECT ('SUBSCRIPTION ACTIVATED')

	END
	ELSE
	 SELECT ('ALREADY THERE IS AN ACTIVE SUBSCRIPTION') AS RESULT RETURN

END TRY

	BEGIN CATCH
	  ROLLBACK
	END CATCH

END
GO
