USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_endStreaming]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_endStreaming]
@userId INT
AS
BEGIN
	DECLARE @EndTime VARCHAR(10)
	--SET @UserId=(SELECT UserId FROM tblUsers WHERE EmailId=@Email)
	

	IF @userId IS NULL
	BEGIN 
	SELECT('USER ID IS NULL') AS RESULT RETURN
	END

	IF NOT EXISTS(SELECT 1 FROM vw_users WHERE UserId=@userId)
	BEGIN
		SELECT('USER ID NOT FOUND') AS RESULT RETURN
	END

	SET @EndTime=(CAST (GETDATE() AS time(0)))

	--IF EXISTS (SELECT 1 FROM TBLWATCHHISTORY WHERE UserId=@UserId AND 


	IF EXISTS(SELECT * FROM TBLWATCHHISTORY WHERE UserId=@userId and Dispaly=0)
	BEGIN
	
		UPDATE tblWatchHistory SET [EndTime]=@EndTime ,[Dispaly]=1 WHERE UserId=@userId and Dispaly=0

		SELECT('STREAM ENDED') AS RESULT RETURN
	END
	ELSE
		SELECT('STREAM NOT STARTED') AS RESULT RETURN
	

END
GO
