USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_submitFeedback]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_submitFeedback]
 @UserId INT,
 @MatchId INT,
 @Rating INT,
 @Comment VARCHAR(2000) = NULL
 AS
 BEGIN
		
		IF @UserId IS NULL
		BEGIN
			SELECT('USER ID IS NULL') AS RESULT RETURN
		END

		IF @MatchId IS NULL
		BEGIN
			SELECT('MATCH ID IS NULL') AS RESULT RETURN
		END

		IF @Rating IS NULL
		BEGIN
			SELECT('RATING IS NULL') AS RESULT RETURN
		END
	
		IF NOT EXISTS(SELECT 1 FROM vw_users WHERE UserId=@UserId)
		BEGIN
			SELECT('ENTER CORRECT USER ID') AS RESULT RETURN
		END


		IF NOT @Rating BETWEEN 1 AND 5
		BEGIN
			SELECT ('RATING SHOULD BE BETWEEN 1 AND 5') AS RESULT RETURN
		END
		IF NOT EXISTS(SELECT 1 FROM tblWatchHistory WHERE MatchId=@MatchId AND UserId=@UserId
		AND Dispaly=1)
		BEGIN
			SELECT('WATCH THE MATCH AND GIVE THE RATING') AS RESULT RETURN
		END

	IF NOT EXISTS(SELECT 1 FROM tblFeedback WHERE [UserId]=@UserId AND [MatchId]=@MatchId)
	BEGIN
		INSERT INTO tblFeedback (UserId,MatchId,Rating,Comment)
		VALUES(@UserId,@MatchId,@Rating,@Comment)
		SELECT('FEEDBACK SUBMITED ') AS RESULT RETURN
	END
	ELSE
		SELECT('FEEDBACK ALREADY EXISTS!') AS RESULT RETURN

 END
GO
