USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_insertSchedules]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_insertSchedules] 
@MatchList BulkInsertTVP readonly
AS
BEGIN
	DECLARE @MatchDate DATE,@MatchTime TIME(0)
	SET @MatchDate=(SELECT  MatchDate FROM @MatchList)
	SET @MatchTime=(SELECT  MatchTime FROM @MatchList)

	IF NOT @MatchDate>=CAST(GETDATE() AS DATE)
	BEGIN
		SELECT('ENTER CORRECT DATE') AS RESULT RETURN
	END

	IF NOT EXISTS( SELECT * FROM tblMatch WHERE MatchDate=@MatchDate AND [MatchStartDate]=@MatchTime)
	BEGIN

	 INSERT INTO tblMatch (Teams,MatchType,Venu,MatchDate,[MatchStartDate],BroadcastMode)
	 SELECT
	     Teams,MatchType,Venu,MatchDate,MatchTime,BroadcastMode
	 FROM @MatchList ;
	 SELECT('VALUES INSERTED') AS RESULT RETURN
	 END
	 ELSE
		SELECT('ALREADY THERE IS A MATCH WITH THIS DATE') AS RESULT RETURN

END
GO
