USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_buyPlan]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[Usp_buyPlan]
@UserId INT,
@Plan_Id INT,
@PaymentStatus BIT
as
BEGIN
	BEGIN TRY
		
	    DECLARE @Subcription_id INT
		,@date VARCHAR(30),@expire_date DATE,@TotalCost INT,@Cost INT,@PlanName VARCHAR(20)

			SET @Subcription_id=@Plan_Id
		
			IF @UserId IS NULL
			BEGIN
				SELECT ('USER ID IS NULL') AS RESULT RETURN
			END

			IF @Subcription_id IS NULL
			BEGIN
				SELECT ('PLAN ID IS NULL') AS RESULT RETURN
			END

			IF @PaymentStatus IS NULL
			BEGIN
				SELECT ('PAYMENT STATUS IS NULL') AS RESULT RETURN
			END

			IF NOT EXISTS (SELECT 1 FROM vw_users WHERE UserId=@UserId)
			BEGIN
				SELECT ('USER ID NOT FOUND!') AS RESULT RETURN 
			END

			IF NOT EXISTS (SELECT 1 FROM tblSubscriptions WHERE Subscription_Id=@Subcription_id)
			BEGIN
				SELECT('INVALID PLAN ID') AS RESULT RETURN
			END

 
	IF @PaymentStatus=0
	BEGIN
		SELECT('PAYMENT FAILED') AS RESULT RETURN
	END

	IF  EXISTS (SELECT 1 FROM tblUserSubcriptions WHERE UserId=@UserId  AND Is_SubcriptionActive=1)
	BEGIN
		SELECT('ALREADY THERE IS AN ACTIVE PLAN') AS RESULT RETURN
	END
	--SET @userId=(SELECT UserId FROM tblUsers WHERE UserId=@UserId)
	SET @date=(SELECT DurationInMonths FROM tblSubscriptions WHERE Subscription_Id=@Subcription_id)
	SET @expire_date=DATEADD(MONTH,cast(@date AS INT),CAST(SYSUTCDATETIME() AS DATE))
	SET @Cost=(SELECT Price FROM tblSubscriptions WHERE Subscription_Id=@Subcription_id)
	SET @TotalCost=SUM(@Cost+137)
	SET @PlanName=(SELECT Subscription_Type FROM tblSubscriptions WHERE Subscription_Id=@Plan_Id)

	IF NOT EXISTS (SELECT * FROM tblUserSubcriptions WHERE UserId=@UserId  AND Is_SubcriptionActive=0)
	BEGIN

	

	BEGIN TRAN

		INSERT INTO tblUserSubcriptions(UserId,Subscription_Id,SubcriptionEndDate,PaymentStatus)
		VALUES (@userId, @Subcription_id, @expire_date,@PaymentStatus)

		INSERT INTO tblInvoices(UserId,SubcriptionID,Cost,TotalCost)
		VALUES(@userId,@Subcription_id,@Cost,@TotalCost)

	COMMIT
	SELECT ('PLAN ACTIVATED') AS RESULT 
	SELECT ('YOU ARE NOW ON '+UPPER(@PlanName)+' PLAN') AS RESULT RETURN

	END
	ELSE

		BEGIN TRAN
		INSERT INTO tblUserSubcriptions(UserId,Subscription_Id,SubcriptionEndDate,PaymentStatus)
		VALUES (@userId, @Subcription_id, @expire_date,@PaymentStatus)

		INSERT INTO tblInvoices(UserId,SubcriptionID,Cost,TotalCost)
		VALUES(@userId,@Subcription_id,@Cost,@TotalCost)

		COMMIT
		SELECT ('PLAN ACTIVATED') AS RESULT 
		SELECT ('YOU ARE NOW ON '+UPPER(@PlanName)+' PLAN') AS RESULT RETURN


	 

END TRY

	BEGIN CATCH
		ROLLBACK

	END CATCH

END
GO
