USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_AdminMonitorUsers]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_AdminMonitorUsers]
AS
BEGIN

	SELECT 
        U.UserId,
       UPPER(U.UserName) AS UserName ,
		UPPER(S.Subscription_Type) AS Subscription_Type,
        DL.EmailId AS DeviceEmail,
     CASE DeviceType 
	WHEN 1 THEN CONCAT_WS('_',UPPER(U.UserName),'TV')
	WHEN 2 THEN CONCAT_WS('_',UPPER(U.UserName),'TV')
	WHEN 3 THEN CONCAT_WS('_',UPPER(U.UserName),'WEB')
	WHEN 4 THEN CONCAT_WS('_',UPPER(U.UserName),'TAPTOP')
	END AS DeviceType,
        DL.LoginDate,
        S.MaxDevices
    FROM tblDeviceLogins DL 
	JOIN tblUsers U 
    ON DL.UserId = U.UserId 
	JOIN tblUserSubcriptions US 
        ON US.UserId = U.UserId 
        AND US.Is_SubcriptionActive = 1
     JOIN tblSubscriptions S
        ON S.Subscription_Id = US.Subscription_Id
    WHERE 
        DL.Is_Active = 1     
  
END
GO
