USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_updateUserProfile]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_updateUserProfile]
	@UserId INT,
    @name VARCHAR(30) = NULL,
    @Email_id VARCHAR(30) = NULL,
    @Password VARCHAR(20) = NULL

AS
BEGIN
    DECLARE @var VARCHAR(30),
            @length INT

        IF @UserId IS NULL
	BEGIN 
	SELECT('USER ID IS NULL') AS RESULT RETURN
	END
			 
    SET @var = TRIM(@name)
    SET @length = LEN(@var)
    
    IF EXISTS(SELECT 1 FROM vw_users WHERE USERID = @USERID)
    BEGIN
      

        IF @Password IS NOT NULL
        BEGIN
		
            IF(PATINDEX('%[A-Z]%', @Password)=0 or  PATINDEX('%[0-9]%', @Password)=0)
            BEGIN
                SELECT 'CREATE A STRONG PASSWORD' AS RESULT
                RETURN
            END
        END
        
        IF @name IS NOT NULL AND @length = 0
        BEGIN
            SELECT 'ENTER VALID NAME' AS RESULT 
            RETURN
        END
        
        IF @Email_id IS NOT NULL AND EXISTS(
            SELECT 1 
            FROM vw_users 
            WHERE [EmailId] = @Email_id AND USERID != @USERID
        )
        BEGIN
            SELECT 'EMAIL ALREADY REGISTERED WITH ANOTHER USER' AS RESULT
            RETURN
        END

        UPDATE tblUsers
        SET 
             [UserName]= COALESCE(@name,USERNAME),
           [EmailId]  = COALESCE(@Email_id,[EmailId] ),
            [Password] = COALESCE(@Password, [PASSWORD])
        WHERE USERID = @USERID

        SELECT 'PROFILE SUCCESSFULLY UPDATED!' AS RESULT
        
    END
    ELSE
    BEGIN
        SELECT 'USER ID NOT FOUND' AS RESULT
    END

END
GO
