USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_revenueOverPlans]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_revenueOverPlans]
as
BEGIN
		SELECT S.Subscription_Type,SUM(I.TotalCost) AS TotalCost
		FROM tblSubscriptions S
		JOIN tblInvoices I
		ON S.Subscription_Id=I.SubcriptionID
		GROUP BY S.Subscription_Type

END
GO
