USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_register]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_register] 
@Name VARCHAR(20),
@EmailId VARCHAR(25),
@Password VARCHAR(20),
@GovtId INT
AS
BEGIN
	BEGIN TRY 

			--CHECKING NAME IS NULL OR NOT
			IF @Name IS NULL
			BEGIN
			SELECT ('Name Is Null') AS RESULT RETURN
			END

			--CHECKING EMAIL ID IS NULL OR NOT
			IF @EmailId IS NULL
			BEGIN
			SELECT ('Email Id Is Null') AS RESULT RETURN
			END

			--CHECKING PASSWORD ID IS NULL OR NOT
			IF @Password IS NULL
			BEGIN
			SELECT('Password Is Null') AS RESULT RETURN
			END

			--CHECKING PASSWORD ID IS NULL OR NOT
			IF @GovtId IS NULL
			BEGIN
			SELECT('Govt Id Is Null') AS RESULT RETURN
			END

				--VALIDATING NAME 
				DECLARE @Var VARCHAR(20),@Length INT
				SET @Var=TRIM(@Name)
				SET @Length=LEN(@Var)

				

			IF  @Length>0
			BEGIN

			
		
				IF NOT (RIGHT(@EmailId, 10) = '@GMAIL.COM' OR RIGHT(@EmailId, 12) = '@hotstar.com')
				BEGIN
				SELECT ('Invalid Email Id') AS RESULT RETURN 
				END

				IF NOT (PATINDEX('%[A-Z]%', @PASSWORD) > 0 AND  PATINDEX('%[0-9]%', @PASSWORD) > 0)
				BEGIN
				SELECT ('Select Strong Password') AS RESULT RETURN 
				END

				IF NOT (LEN(CAST(@GovtId AS VARCHAR(10))) = 6)
				BEGIN 
				SELECT ('Governtment Id Should Contain 6 Numbers')as RESULT RETURN
				END

				IF EXISTS (SELECT 1 FROM tblUsers WHERE EmailId=@EmailId and Password=@Password and Is_Active=0)
				BEGIN
					UPDATE tblUsers SET Is_Active=1 WHERE EmailId=@EmailId
					SELECT ('Registration Successful')  AS RESULT RETURN
				END


	            IF  EXISTS(SELECT 1 FROM tblUsers WHERE GovtId=@GovtId)
				BEGIN
				SELECT ('User With This Govt Id Already Exists')as RESULT RETURN
				END

				
			   IF EXISTS (SELECT 1 FROM tblUsers WHERE EmailId=@EmailId)
			   BEGIN
				SELECT('User With This Email Already Exists') AS RESULT RETURN
			    END


			
				INSERT INTO tblUsers (UserName,EmailId,[Password],GovtId)
				VALUES(@Name,@EmailId,@Password,@GovtId)

				SELECT 'Registration Successful' AS RESULT RETURN

				

       END 
		 ELSE
		 SELECT('Enter A Valid  Name') AS RESULT


END TRY
BEGIN CATCH
	IF ERROR_MESSAGE() LIKE '%FK%'
		BEGIN 
			PRINT('Please Enter Valid Id')
			
		END
END CATCH
		
	
END
GO
