USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_startStreaming]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_startStreaming] 
@userId INT,
@MatchId INT
AS
BEGIN
	

	DECLARE @MatchName VARCHAR(20),@SubcriptionId INT,@Broadcast VARCHAR(20),@Date VARCHAR(10),
	@StartTime VARCHAR(10),@MatchDate DATE
		SET @MatchDate=(SELECT MatchDate FROM tblMatch WHERE MatchId=@MatchId)

			IF @userId IS NULL
			BEGIN
				SELECT('USER ID IS NULL') AS RESULT RETURN
			END

			IF @MatchId  IS NULL
			BEGIN
				SELECT('MATCH ID IS NULL') AS RESULT RETURN
			END

			IF  NOT EXISTS (SELECT 1 FROM vw_users WHERE UserId=@userId)
			BEGIN
			SELECT('USER ID NOT FOUND') AS RESULT RETURN
			END

			IF  NOT EXISTS (SELECT 1 FROM tblMatch WHERE MatchId=@MatchId)
			BEGIN
			SELECT('INVALID MATCH ID') AS RESULT RETURN
			END

		

			IF  EXISTS(SELECT 1 FROM tblMatch WHERE  MatchId=@MatchId)
			BEGIN


				SET @Broadcast=(SELECT BroadcastMode FROM tblMatch WHERE MatchId=@MatchId)
				SET @SubcriptionId=(SELECT TOP 1 Subscription_Id FROM tblUserSubcriptions WHERE UserId=@userId and [Is_SubcriptionActive]=1 ORDER BY Subscription_Id desc )
				SET @MatchName=(SELECT Teams FROM tblMatch WHERE MatchId=@MatchId)
				SET @Date=(CAST (GETDATE() AS date))
				SET @StartTime=(CAST (GETDATE() AS time(0)))

				
	IF NOT @MatchDate<=@Date
	BEGIN
		SELECT('MATCH WILL STREAM ON ' +CAST (@MatchDate AS varchar(10))) AS RESULT RETURN
	END
	

			IF @SubcriptionId = 1 AND (@Broadcast = 'Highlights')
				BEGIN
						IF EXISTS (SELECT * FROM TBLWATCHHISTORY WHERE UserId=@userId AND MatchId=@MatchId)
						BEGIN
							
						   UPDATE TBLWATCHHISTORY SET [DATE]=CAST(GETDATE() AS date),StartTime=@StartTime,Dispaly=0 WHERE UserId=@userId AND MatchId=@MatchId
						END
						ELSE
							
							INSERT INTO tblWatchHistory (UserId,MatchId,[Date],StartTime)
							VALUES(@UserId,@MatchId,@Date,@StartTime)
					
							SELECT (@MatchName+' MATCH IS STREAMING') AS RESULT RETURN

				END
	
				IF @SubcriptionId = 2  AND ( @Broadcast LIKE '%Recorded%' OR @Broadcast LIKE '%Highlights%' OR @Broadcast LIKE '%Live%')
				BEGIN
					IF EXISTS (SELECT 1 FROM TBLWATCHHISTORY WHERE UserId=@UserId AND MatchId=@MatchId)
						BEGIN
							
						   UPDATE TBLWATCHHISTORY SET [DATE]=CAST(GETDATE() AS date),StartTime=@StartTime,Dispaly=0 WHERE UserId=@userId AND MatchId=@MatchId
						END
						ELSE
							
							INSERT INTO tblWatchHistory (UserId,MatchId,[Date],StartTime)
							VALUES(@UserId,@MatchId,@Date,@StartTime)
					
							SELECT (@MatchName+' MATCH IS STREAMING') AS RESULT RETURN
				END
	

				IF @SubcriptionId = 3  AND (@Broadcast = 'Recorded' OR @Broadcast = 'Highlights' OR @Broadcast='Live')
				BEGIN
						IF EXISTS (SELECT 1 FROM TBLWATCHHISTORY WHERE UserId=@userId AND MatchId=@MatchId)
						BEGIN
							
						   UPDATE TBLWATCHHISTORY SET [DATE]=CAST(GETDATE() AS date),StartTime=@StartTime,Dispaly=0   WHERE UserId=@userId AND MatchId=@MatchId
						END
						ELSE
							
							INSERT INTO tblWatchHistory (UserId,MatchId,[Date],StartTime)
							VALUES(@UserId,@MatchId,@Date,@StartTime)
					
				
				SELECT (@MatchName+' MATCH IS STREAMING') AS RESULT RETURN

	
				END
				ELSE
					SELECT('UPDATE YOUR SUBSCRIPTION') AS RESULT RETURN

		END
		ELSE
		SELECT('ENTER CORRECT MATCH ID') AS RESULT RETURN

END
GO
