USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_viewLoginDevices]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_viewLoginDevices] 
@UserId INT
AS 
BEGIN
	IF NOT EXISTS(SELECT 1 FROM tblDeviceLogins WHERE UserId=@UserId)
	BEGIN
		SELECT('NO LOGIN DEVICES FOR THIS USER ID') AS RESULT RETURN
	END

	ELSE
	   IF @UserId IS NULL
		BEGIN
				SELECT ('USER ID IS NULL') AS RESULT RETURN
		END
		
			IF  NOT EXISTS (SELECT 1 FROM vw_users WHERE UserId=@UserId)
			BEGIN
			SELECT('USER ID NOT FOUND') AS RESULT RETURN
			END

	DECLARE @UserName VARCHAR(20)
	SET @UserName=(SELECT UserName	FROM vw_users WHERE UserId=@UserId)
	SELECT 
	LoginId as DeviceId,
	CASE DeviceType 
	WHEN 1 THEN CONCAT_WS('_',UPPER(@UserName),'MOBILE')
	WHEN 2 THEN CONCAT_WS('_',UPPER(@UserName),'TV')
	WHEN 3 THEN CONCAT_WS('_',UPPER(@UserName),'WEB')
	WHEN 4 THEN CONCAT_WS('_',UPPER(@UserName),'TAPTOP')
	END AS DeviceType
	FROM tblDeviceLogins
	WHERE  UserId=@UserId AND Is_Active=1
END
GO
