USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_viewInvoice]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_viewInvoice] 
@UserId INT
AS
BEGIN
	
	
		IF @UserId IS NULL
		BEGIN
				SELECT ('USER ID IS NULL') AS RESULT RETURN
		END

	--SET @UserId=(SELECT UserId FROM tblUsers WHERE =@Email)

	IF NOT EXISTS(SELECT 1 FROM tblInvoices WHERE UserId=@UserId)
	BEGIN
		SELECT('NO INVOCE FOR THIS USER ID ') AS RESULT RETURN
	END

	SELECT 
	InvoiceId,
	Subscription_Type,
	InvoiceDate,
	InvoiceTime,
	Price,
	Tax,
	TotalCost
	FROM vw_ViewInvoices WHERE UserId=@UserId
END
GO
