USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_userLogout]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_userLogout]
	@UserId INT,
	@DeviceId INT
AS
BEGIN
		IF @DeviceId IS NULL
		BEGIN
			SELECT ('LoginId ID IS NULL') AS RESULT RETURN
		END

		
		IF @UserId IS NULL
		BEGIN
			SELECT ('USER ID IS NULL') AS RESULT RETURN
		END
		
			IF  NOT EXISTS (SELECT 1 FROM vw_users WHERE UserId=@UserId)
			BEGIN
			SELECT('USER ID NOT FOUND') AS RESULT RETURN
			END

			IF  NOT EXISTS (SELECT 1 FROM tblDeviceLogins WHERE LoginId=@DeviceId)
			BEGIN
				SELECT('DEVICE ID  NOT FOUND') AS RESULT RETURN
			END


	IF NOT EXISTS(SELECT 1 FROM tblDeviceLogins WHERE LoginId=@DeviceId AND UserId=@UserId  AND Is_Active=1)
	BEGIN
		SELECT('NO DEVICES LOGED IN WITH THIS ID') AS RESULT RETURN
	END
	ELSE
	UPDATE tblDeviceLogins SET Is_Active=0 WHERE LoginId=@DeviceId 
	SELECT('LOGOUT SUCESSFULL') AS RESULT RETURN


END
GO
