USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_updatePlan]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[Usp_updatePlan] 
@UserId INT,
@Plan_Id INT,
@PaymentStatus BIT
AS 
BEGIN
BEGIN TRY 

		DECLARE @date VARCHAR(20),@expire_date DATE,@ExistingPlanId INT,@NewPlanName VARCHAR(20),
	@Cost INT,@TotalCost INT,@Subcription_id INT



	IF @UserId IS NULL
	BEGIN
	SELECT('USER ID IS NULL')
	END

	IF @Plan_Id IS NULL
	BEGIN
	SELECT('PLAN ID IS NULL')
	END

	IF @PaymentStatus IS NULL
	BEGIN
	SELECT('PAYMENT STATUS IS NULL')
	END



		SET @Subcription_id=@Plan_Id

	IF NOT EXISTS(SELECT 1 FROM vw_users WHERE UserId=@UserId)
	BEGIN
		SELECT('USER ID  NOT FOUND ') AS RESULT RETURN
	END

	IF NOT EXISTS(SELECT 1 FROM tblSubscriptions WHERE Subscription_Id=@Subcription_id)
	BEGIN
		SELECT('ENTER CORRECT PLAN ID') AS RESULT RETURN 
	END

	

	SET @ExistingPlanId=(SELECT Subscription_Id FROM tblUserSubcriptions WHERE UserId=@UserId AND Is_SubcriptionActive=1)

	SET @NewPlanName=(SELECT Subscription_Type FROM tblSubscriptions WHERE Subscription_Id=@Subcription_id)

	

	IF @ExistingPlanId=@Subcription_id
	BEGIN
		SELECT('YOU ARE SWITCHING TO SAME PLAN') AS RESULT RETURN
	END

	
	IF @PaymentStatus=0
	BEGIN
		SELECT('PAYMENT FAILED') AS RESULT RETURN
	END

	
	IF  EXISTS (SELECT 1 FROM tblUserSubcriptions WHERE UserId=@UserId AND Is_SubcriptionActive=1)
	BEGIN

	SET @date=(SELECT DurationInMonths FROM tblSubscriptions WHERE Subscription_Id=@Subcription_id)
	SET @expire_date=DATEADD(MONTH,cast(@date AS INT),CAST(SYSUTCDATETIME() AS DATE))
	SET @Cost=(SELECT Price FROM tblSubscriptions WHERE Subscription_Id=@Subcription_id)
	SET @TotalCost=SUM(@Cost+137)

	BEGIN TRAN

		UPDATE tblUserSubcriptions SET Is_SubcriptionActive=0 WHERE Subscription_Id=@ExistingPlanId AND UserId=@UserId

		INSERT INTO tblUserSubcriptions(UserId,Subscription_Id,SubcriptionEndDate,PaymentStatus)
		VALUES(@UserId,@Subcription_id,@expire_date,@PaymentStatus)

		INSERT INTO tblInvoices(UserId,SubcriptionID,Cost,TotalCost)
		VALUES(@userId,@Subcription_id,@Cost,@TotalCost)

		DELETE FROM tblDeviceLogins WHERE UserId=@UserId
		
		

	COMMIT
	SELECT('PLAN SWITCHED ' +'TO '+ upper(@NewPlanName ))AS RESULT RETURN

	END
	ELSE
			SELECT('YOU DONT HAVE ANY PLAN') AS RESULT RETURN

	

END TRY
BEGIN CATCH
		ROLLBACK
END CATCH
	
END
GO
