USE [Hotstar_sql_project]
GO
/****** Object:  StoredProcedure [dbo].[Usp_ViewPlans]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[Usp_ViewPlans]
AS
BEGIN

		SELECT 
			Subscription_Id AS Plan_Id,
			Subscription_Type Plan_Type,
			Price,
			DurationInMonths,
			MaxDevices,
			CASE RewatchAccess
			 WHEN 0 THEN 'No'
			 WHEN 1 THEN 'Yes'
			 END as 'Recored'

		FROM 
		tblSubscriptions

END
GO
