USE [Hotstar_sql_project]
GO
/****** Object:  Table [dbo].[tblUserSubcriptions]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserSubcriptions](
	[UserId] [int] NOT NULL,
	[Subscription_Id] [int] NOT NULL,
	[SubcriptionStartDate] [date] NOT NULL,
	[SubcriptionEndDate] [date] NOT NULL,
	[Is_SubcriptionActive] [bit] NULL,
	[PaymentStatus] [bit] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblUserSubcriptions] ADD  DEFAULT (sysutcdatetime()) FOR [SubcriptionStartDate]
GO
ALTER TABLE [dbo].[tblUserSubcriptions] ADD  DEFAULT ((1)) FOR [Is_SubcriptionActive]
GO
ALTER TABLE [dbo].[tblUserSubcriptions] ADD  DEFAULT ((0)) FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[tblUserSubcriptions]  WITH CHECK ADD  CONSTRAINT [FK_tblUserSubcriptions_tblSubcriptions] FOREIGN KEY([Subscription_Id])
REFERENCES [dbo].[tblSubscriptions] ([Subscription_Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblUserSubcriptions] CHECK CONSTRAINT [FK_tblUserSubcriptions_tblSubcriptions]
GO
ALTER TABLE [dbo].[tblUserSubcriptions]  WITH CHECK ADD  CONSTRAINT [FK_tblUserSubcriptions_tblUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[tblUsers] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblUserSubcriptions] CHECK CONSTRAINT [FK_tblUserSubcriptions_tblUsers]
GO
