USE [Hotstar_sql_project]
GO
/****** Object:  Table [dbo].[tblInvoices]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInvoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](0) NOT NULL,
	[SubcriptionID] [int] NOT NULL,
	[Cost] [int] NOT NULL,
	[Tax] [int] NOT NULL,
	[TotalCost] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInvoices] ADD  DEFAULT (sysutcdatetime()) FOR [Date]
GO
ALTER TABLE [dbo].[tblInvoices] ADD  DEFAULT (CONVERT([time],getdate())) FOR [Time]
GO
ALTER TABLE [dbo].[tblInvoices] ADD  DEFAULT ((137)) FOR [Tax]
GO
ALTER TABLE [dbo].[tblInvoices]  WITH CHECK ADD  CONSTRAINT [FK_tblInvoices_tblSubcriptions] FOREIGN KEY([SubcriptionID])
REFERENCES [dbo].[tblSubscriptions] ([Subscription_Id])
GO
ALTER TABLE [dbo].[tblInvoices] CHECK CONSTRAINT [FK_tblInvoices_tblSubcriptions]
GO
