USE [Hotstar_sql_project]
GO
/****** Object:  Table [dbo].[tblSubscriptions]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubscriptions](
	[Subscription_Id] [int] IDENTITY(1,1) NOT NULL,
	[Subscription_Type] [varchar](20) NOT NULL,
	[Price] [int] NOT NULL,
	[DurationInMonths] [int] NOT NULL,
	[MaxDevices] [int] NOT NULL,
	[RewatchAccess] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Subscription_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
