USE [Hotstar_sql_project]
GO
/****** Object:  Table [dbo].[tblDeviceLogins]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDeviceLogins](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[EmailId] [varchar](30) NOT NULL,
	[DeviceType] [int] NOT NULL,
	[Is_Active] [bit] NULL,
	[LoginDate] [date] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblDeviceLogins] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tblDeviceLogins] ADD  DEFAULT (sysutcdatetime()) FOR [LoginDate]
GO
ALTER TABLE [dbo].[tblDeviceLogins]  WITH CHECK ADD  CONSTRAINT [FK_tblDeviceLogins_tblUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[tblUsers] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDeviceLogins] CHECK CONSTRAINT [FK_tblDeviceLogins_tblUsers]
GO
