USE [Hotstar_sql_project]
GO
/****** Object:  Table [dbo].[tblMatch]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMatch](
	[MatchId] [int] IDENTITY(1,1) NOT NULL,
	[Teams] [varchar](20) NOT NULL,
	[MatchType] [varchar](20) NOT NULL,
	[Venu] [varchar](50) NOT NULL,
	[MatchDate] [date] NOT NULL,
	[MatchStartDate] [time](0) NOT NULL,
	[BroadcastMode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMatch]  WITH CHECK ADD CHECK  (([BroadcastMode]='Highlights' OR [BroadcastMode]='Recorded' OR [BroadcastMode]='Live'))
GO
ALTER TABLE [dbo].[tblMatch]  WITH CHECK ADD CHECK  (([MatchType]='Final' OR [MatchType]='Qualifier' OR [MatchType]='League'))
GO
