USE [Hotstar_sql_project]
GO
/****** Object:  Table [dbo].[tblWatchHistory]    Script Date: 07-09-2026 22:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWatchHistory](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[MatchId] [int] NOT NULL,
	[Date] [varchar](10) NOT NULL,
	[StartTime] [varchar](10) NOT NULL,
	[EndTime] [varchar](10) NULL,
	[Dispaly] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblWatchHistory] ADD  DEFAULT ((0)) FOR [Dispaly]
GO
ALTER TABLE [dbo].[tblWatchHistory]  WITH CHECK ADD  CONSTRAINT [FK_tblWatchHistory_tblMatch] FOREIGN KEY([MatchId])
REFERENCES [dbo].[tblMatch] ([MatchId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblWatchHistory] CHECK CONSTRAINT [FK_tblWatchHistory_tblMatch]
GO
